<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div class="rounded shadow-xl overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col items-center justify-center"></div>

    <div class="text-center mt-4">
      <h2 class="mat-h2">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">
        Inicie sesión con sus credenciales.
      </h4>
    </div>

    <div class="p-6 flex flex-col gap-4" [formGroup]="form">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Correo electrónico</mat-label>
          <input matInput required formControlName="email" />
          <mat-error *ngIf="form.get('email')?.hasError('required')"
            >Ingrese un correo electrónico</mat-error
          >
          <mat-error *ngIf="form.get('email')?.hasError('pattern')"
            >Introduzca una dirección de correo válida</mat-error
          >
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contrasena" />
          <mat-error *ngIf="form.get('contrasena')?.hasError('required')"
            >Ingrese una contraseña</mat-error
          >
        </mat-form-field>
      </div>

      <button
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="form.invalid"
        (click)="makeLogin()"
      >
        INICIAR SESION
      </button>
    </div>
  </div>
</div>
